// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage Balao gastrico
// -----------------------------------------------------------------------------
#balaoGastricoProd{
    margin: 10px 0 0;
    .balao-prod-text{
        padding: 60px;
        line-height: 1.5;
    }
    .balao-prod-imagem{
        padding-top: 10px;
        img{
            width: 100%;
            object-fit: cover;
            object-position: 50%;
            height: 500px;
        }
    }
}