// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage certificacoes
// -----------------------------------------------------------------------------


#certifications{
    margin: 60px 0;
    color: $gray-color;
    p{
        font-family: 'CeribriSans-regular';
    }
    .certificate-desc{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 1;
        margin: 30px 0;
        p{
            width: 60%;
            font-size: 1.2em;
            font-family: 'CeribriSans-regular';
        }
    }
    .certificate-silimed{
        margin: 60px 60px 0 0;
        @media (max-width: 992px) {
            margin: 0 30px;
        }
        .title-certificate{
            text-align: right;
            margin: 0 15px;
            font-size: 2em;
            font-weight: bold;
            @media (max-width: 992px) {
                text-align: center;
                margin: 30px 0;
            }
        }
    }

    .certificate-seal{
        .seal-list{
            list-style: none;
            padding: 0;
            margin: 0;

            width: 100%;
            display: flex;
            flex-direction: row;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            .img-seal{
                margin: 15px;
                @media (max-width: 992px) {
                    text-align: center;
                }
                img{
                    width: 200px;
                    filter: grayscale(100%);
                    &:hover{
                        filter: none;
                    }
                    @media (max-width: 767px) {
                        filter: none;
                    }
                }
            }
        }
    }
}