// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage expansores de tecido
// -----------------------------------------------------------------------------

#expansoresProd{
    .expansor-prod-text{
        color: #fff;
        padding: 60px 120px;
        line-height: 2;
        @media (max-width:992px) {
            padding: 30px;
            font-size: 0.8em;
        }
        ul{
            margin: 15px 0;
            padding: 0 15px;
        }
        
    }
    .expansor-prod-imagem{
        img{
            width: 100%;
            object-fit: cover;
            object-position: 100%;
            height: 550px;
            padding-top: 10px;
            @media (max-width:992px) {
                // width: inherit;
                height: auto;
            }
            @media (max-width:767px) {
                width: 100%;
            }
            
        }
    }
}

#expansoresValvulas{
    padding: 60px 0;
    .valvula-title{
        margin: 60px 0 0;
        h2{
            font-size: 3.5em;
            text-align: center;
            font-weight: bold;
        }
    }
    .valvula-area{
        padding: 30px;
        .valvula-img{
            margin: 30px;
            img{
                width: 300px;
                height: 200px;
                max-width: 100%;

            }
        }
        .valvula-desc{
            text-align: center;
            line-height: 2;
            .paragraph-area{
                height: 100px;
            }
            p{
                margin: 0;
                font-size: 1em;
            }
            h4{
                margin: 30px 0;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
}