// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage implantes mamarios
// -----------------------------------------------------------------------------
#objetivoProduto{
    padding: 60px;
}
#productLine{
    .line{
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #fff;
        height: 100%;
        p{
            height: 100px;
        }
        h2{
            text-transform: uppercase;
            font-weight: bold;
        }
        &--biodesign{
            background-color: $primary-color;
        }
        &--standard{
            background-color: $gray-color-sub;
        }
    }
}

#informationFolder{
    padding: 90px 90px 0;
    .area-btn{
        margin: 30px 0;
    }
    .text-mamario-area{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        p{
            text-align: center;
            color: $gray-color;
        }
        h4{
            text-align: center;
            font-size: 1em;
            color: #000;
            font-weight: bold;
        }
    }
    .btnInfo{
        border: 1px solid $gray-color;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-color;
        margin: 15px;
        a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.8em;
        }
        &--first{
            height: 40px;
            border-radius: 5px;
        }
        &--itens{
            padding: 10px 20px;
        }

    }
}
.sketchfab-embed-wrapper{
    .iframe-responsive{
        // width: 100%;
        max-width: 100%;
    }
}

#areaVideo{
    margin: 0 0 50px 0;
}