// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage implantes de contorno corporal
// -----------------------------------------------------------------------------
#ModelosProduto{
    padding: 60px;
}
#gluteoProduto{
    background-color: $primary-color;
    .gluteo-desc{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        .text-gluteo-desc{
            width: 60%;
            text-align: center;
            color: #fff;
            h2{
                margin: 30px 0;
                font-weight: bold;
            }
            p{
                margin: 30px 0;
                line-height: 2;
            }
            @media (max-width:767px) {
                width: 100%;           
            }
        }
    }

    .gluteo-img-desc{
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        .gluteo-img{
            margin: 0 0 60px 0;
            img{
                width: 200px;
            }
        }
        .gluteo-prod-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin: 30px 0;
            @media (max-width:992px) {
                flex-direction: column;                
            }
        }
        .prod-item-desc{
            color: #fff;
            width: 50%;
            h4{
                text-transform: uppercase;
            }
            @media (max-width:992px) {
                width: 100%;           
            }
        }
        .text-mamario-area{
            color: #fff;
            text-align: center;
        }
    }
}

#panturrilhaProduto{
    background-color: $gray-color;
    .panturrilha-desc{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        .text-panturrilha-desc{
            width: 60%;
            text-align: center;
            color: #fff;
            h2{
                margin: 30px 0;
                font-weight: bold;
            }
            p{
                margin: 30px 0;
                line-height: 2;
            }
            @media (max-width:767px) {
                width: 100%;           
            }
        }
    }
    .panturrilha-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img{
            width: 400px;
            max-width: 100%;
        }
    }
}