// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage implantes faciais
// -----------------------------------------------------------------------------

#facialImpante{
    padding: 60px 30px;
}

#deMentoImplante{
    background-color: $primary-color;
    padding: 90px;
    
}
#deMentoImplanteAnatomico{
    background-color: $gray-color;
    padding: 90px;
}
.deMento{
    color: #fff;
    .text-demento{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        h2{
            margin: 15px 0;
            font-weight: bold;
        }
    }
}
.img-demento{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    img{
        max-width: 350px;
        @media (max-width:992px) {
            max-width: 300px;
            padding: 30px;
        }
    }
}