// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage implantes da linha urologica
// -----------------------------------------------------------------------------

#descUrologia{
    padding: 60px 30px;
}

#implanTesticulares{

}
#implanPenianos{
    margin: 0 0 90px;
}
.urologia-img-area{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 2.5em;
        font-weight: bold;
        color: $gray-color;
        @media (max-width:992px) {
            font-size: 2em;
        }

    }
    .urologia-img{
        img{
            max-width:100%;
        }
    }
}
.urologia-desc-area{
    margin: 0 15px;
    padding: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;
    line-height: 2;
    h2{
        font-size: 2.5em;
        font-weight: bold;
        margin: 30px 0;
    }
    h4{
        font-size: 1em;
        font-weight: bold;
    }
    ul{
        padding: 0 15px;
    }
    &__testiculares{
        background-color: $gray-color-2;
    }
    &__penianos{
        background-color: $primary-color;
        margin: 0 0 30px;
    }
    
}