// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage medgel
// -----------------------------------------------------------------------------

#medgelProd{
    margin: 10px 0;
    .medgel-img{
        padding: 10px;
        img{
            max-width: 100%;
        }
    }
    .medgel-desc{
        padding: 0 60px;
        h3{
            font-size: 1.2em;
            font-weight: bold;
            margin: 0 0 30px;
        }
    }
}

#medgelAuthentic{
    .authentic-img{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        img{
            max-width: 100%;
        }
        @media (max-width:767px) {
            align-items: center;            
        }
    }
    .medgel-desc {
        padding: 90px;
        color: $gray-color;
        h3{
            font-size: 2em;
            font-weight: bold;
        }
    }
}

#medgelResult{
    .grid-positionB{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .result-img{
        img{
            max-width: 100%;
        }
    }
    .medgel-result-desc{
        padding: 60px;
        align-items: flex-start;
        h3{
            font-size: 1.2em;
            font-weight: bold;
        }
        p{
            font-size: 1em;
        }
    }
}
#idications{
    color: $gray-color;
    .produtos-img{
        img{
            max-width: 100%;
        }
    }
    .linha-completa-area{
        padding: 30px 0;
        .linha-completa-text{
            h2{
                font-size: 2.5em;
                font-weight: bold;
            }
            p{
                font-size: 1.2em;
                line-height: 1;
            }
        }
    }
    .linha-competa-itens{
        h4{
            font-weight: bold;
        }
    }
}

#medgelAction{
    padding: 90px 0;
    .img-steps{
        img{
            max-width: 100%;
            width: 300px;
        }
    }
    h4{
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        margin: 30px 0;
    }
    .steps-desc{
        h4{
            font-size: 1em;
            font-weight: bold;
        }
        p{
            font-size: 0.8em;
        }
    }
}

