// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage modelador nasal
// -----------------------------------------------------------------------------

#modeladorProd{
    padding-top: 10px;
}
.modelador-img-area{
    .modelador-img{
        img{
            width: 100%;
            object-fit: cover;
            object-position: 50%;
        }
        &__produto{
            img{
                // height: 250px;
            }
        }
        &__modelo{
            img{
                height: 420px;
            }
        }
    }
}
.modelador-text-area{
    padding: 90px 60px;
    font-size: 1em;
    @media (max-width:992px) {
        padding: 60px;
    }
}

.indication-text-area{
    padding: 90px 60px;
    color: $gray-color;
    line-height: 2;
    h3{
        font-size: 1.2em;
        font-weight: bold;
    }
    ul{
        padding: 0 15px;
    }
}