// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage nossa historia
// -----------------------------------------------------------------------------

#history-paragraph{
    padding: 30px 0;
}

#history-desc{

    .content-history-desc{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
    }
    .history-desc-text{
        padding: 60px;
        color: #fff;
        font-family: 'CeribriSans-regular';
        font-size: 1em;
        line-height: 1.2;
        p{
            margin: 30px 0;
        }

        h3{
            font-size: 1em;
            text-transform: uppercase;
        }
    }

    .img-history{
        padding: 0;
        img{
            width: 100%;
            object-fit: cover;
            object-position: 100%;
            height: 700px;
            @media (max-width:767px) {
                height: auto;
            }
        }
    }
}

.img-timeline{
    img{
        width: 100%;
    }
}
.desc-timeline{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: $primary-color;
    font-family: 'CeribriSans-regular';
    color: #fff;
    padding: 30px;
    h3{
        text-transform: uppercase;
        font-size: 1.2;
        text-align: left;
    }
    p{
        font-size: 1em;
        margin: 30px 0;
    }
}

.content-timeline{
    background-color: $gray-color-2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 60px 30px;
    @media (max-width: 767px) {
        padding: 60px 0;
    }

    .timeline {
        position: relative;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 15px 0;
        z-index: 0;
        &:after {
            content: '';
            position: absolute;
            width: 2px;
            background: #fff;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -1px;
        }
    }

    .container-timeline {
        padding: 0px 30px;
        position: relative;
        background: inherit;
        width: 50%;
        z-index: 1;
        &:nth-child(odd){
            left: 0;
        }
        &:nth-child(even){
            // right
            right: -50%;
            &:after {
                left: -8px;
            }
            &:before {
                left: 8px;
            }
            .content {
                padding: 30px;
                @media (max-width:992px) {
                    padding: 30px 10px;
                    font-size: 0.8em;
                }
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: calc(20% - 8px);
            right: -8px;
            background: $primary-color;
            border: 2px solid $primary-color;
            border-radius: 16px;
            z-index: 1;
        }
        &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            top: calc(20% - 1px);
            right: 8px;
            background: #fff;
            z-index: 1;
        }
        .content {
            padding: 30px;
            background-color: $gray-color-3;
            border: 1px solid #fff;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            @media (max-width: 992px) {
                padding: 30px 10px;
                font-size: 0.8em;
            }
            .year-timeline{
                position: absolute;
                top: -20px;
                border: 1px solid;
                border-radius: 5px;
                background-color: $primary-color;
                color: #fff;
                padding: 5px 15px;
                left: 10px;
            }
        }
    }

}

#text-timeline-4{
    margin: 0 0 60px;
}