// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage certificacoes
// -----------------------------------------------------------------------------
#ondeEstamosTitle{
    padding: 60px;
}
#map {
        height: 500px;
        width: 100%;
        margin: 60px 0;
    }