// -----------------------------------------------------------------------------
// This file contains styles that are specific to subpage para pacientes
// -----------------------------------------------------------------------------

#purchasePatient{
    margin: 60px 0;
    color: $gray-color;
    .buy-affiliate{
        padding: 30px 0;
        font-weight: bold;
        @media (max-width: 992px) {
            margin: 0 30px;
        }
    }
}