// -----------------------------------------------------------------------------
// This file contains styles that are specific to the seguranca-para-voce page.
// -----------------------------------------------------------------------------

[data-controller="segurancaParaVoce"]{
  margin-bottom: 120px;
}
#formRegistro{
  color: $gray-color-2;
  width: 100%;
  height: 1500px;
  display: flex;
  align-items: center;
  position: relative;
  .form-card{
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 30px;
    top: -90px;
    width: 85%;
  }
  

  .desc-form{
    margin: 60px 30px;
    h2{
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.5;
      margin: 60px 0 ;
      color: $gray-color;
    }
    p{
      line-height: 2;
      font-size: 1em;
    }
    ul{
      margin: 60px 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      li{
        margin: 0 10px;
        a{
          color: $gray-color;
        }
      }
    }
  }
  .form-content{
    margin: 30px;
    h2{
      font-weight: bold;
    }
    .form-control{
      padding: 0;
      border: none;
      border-bottom: 2px solid #ced4da;
      border-radius: inherit;
      transition: border-color 0.9s ease;   
      &:focus{
        outline: none;
        box-shadow:none;
        border-bottom: 2px solid $primary-color;
        border-color: $primary-color; 
      }
    }
    
    select{
      margin: calc(10% - 60px) 0 0; 
      border: none;
      border-bottom: 2px solid #ced4da;
      color: $gray-color;
      width: 100%;
      padding: 5px;
      &:focus{
        outline: none;
        box-shadow:none;
        border-bottom: 2px solid $primary-color;
        border-color: $primary-color; 
      }
    }
    .submit-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .btn-submit{
        box-shadow:none;
        border: none;
        width: 50%;
      }
      .form-text{
        width: 50%;
      }
    }
  }

}
