// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
.flex-display{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.relativeP{
    position: relative;
}
.orangeBg{
    background-color: $primary-color;
    color: #fff;
}
.grayBg{
    background-color: $gray-color-2;
    color: #fff;
}
.whiteBg{
    background-color: #fff;
}
.align{
    display: flex;
    flex-direction: column;
    &__end{
        align-items: flex-end;
    }    
    &__center{
        align-items: center;
        justify-content: center;
    }    
    
    @media (max-width:992px) {
        align-items: center;
    }
}

.text-banner{
    top: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1;
    &__bigger{
        top: 30%;
    }
    h2{
        font-size: 5.3em;
        color: #fff;
        text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
        font-weight: bold;
        // font-family: 'Futura';
        // font-family: 'futura-regular';
        font-family:'futura-bold';
        width: 85%;
        text-align: center;
        @media (max-width:1199px) {
            font-size: 3em;
            width: 100%;
        }
    }
    h3{
        font-size: 2em;
        color: #fff;
        text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
        font-weight: bold;
        // font-family: 'Futura';
        font-family: 'futura-regular';
        width: 85%;
        text-align: center;
        @media (max-width:1199px) {
            font-size: 1.5em;
            width: 100%;
        }
    }
    p{
        font-size: 1em;
        color: #fff;
        text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
        // font-weight: bold;
        font-family: 'futura-regular';
        // font-family: 'Roboto';
    }

}
.bkgd-overlay{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

}
.banner-top{
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;

    img{
        width: 100%;
        object-fit: cover;
        object-position: 100% 0px;
        height: 660px;
        
        @media (max-width:992px) {
            object-position: 50% 0px;
        }
        
    }

}


.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    margin-left: 0px;
    margin-right: 0;
    overflow: hidden;
    // classe junto com a row
    @media (max-width:767px) {
        .grid-reverse{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            .grid-positionA{
                grid-column: 1;
                grid-row: 2;
            }
            .grid-positionB{
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
    &__px-30{
        padding: 0 30px;
    }
}



.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.default-desc{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
    color: $gray-color;
    // line-height: 1;
    h1{
        width: 60%;
        // font-family: 'CeribriSans';
        font-size: 3em;
        font-family: 'futura-regular';
    }
    h2{
        width: 60%;
        font-family: 'CeribriSans-regular';
    }
    p{
        width: 80%;
        font-size: 1.3rem;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family: 'CeribriSans-regular';
    }
    span{
        font-weight: bold;
    }

    @media (max-width: 767px) {
        h1,h2,p{
            width: 100%;
        }
    }
    &--container{
        p{
            // width: 75%;
        }
        @media (max-width: 767px) {
            h1,h2,p{
                width: 100%;
            }
        }
    }
}
// texto padrão

.default-simple-text{
    padding: 60px;
    color: #fff;
    font-family: 'CeribriSans-regular';
    line-height: 2;
    @media (max-width:992px) {
        padding: 15px 30px;
    }
    h2{
        font-size: 2.6rem;
        font-weight: bold;
        &.title-align-center{
            text-align: center;
        }
        
    }
    p{
        font-size: 1.2rem;
        margin-top: 30px ;
    }
    
    &--gray{
        color: $gray-color;
    }
}
// img scroll efect
.img-srolling{
    img{
        &:hover{
            transform:translateY(30px);
            -ms-transform:translateY(30px); /* prefix for IE 9 */
            -webkit-transform:translateY(30px); /* prefix for Safari and Chrome */
        }
    }
}



// texto lateral

.silimend-left-area{
    margin: 60px 60px 0 0;
    ul{
        padding: 0 15px;
        margin: 0;
        line-height: 2;
    }
    span{
        font-weight: bold;
    }
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: justify;
        margin: 0;
    }

}
.silimed-left-text{
    @media (max-width: 992px) {
        margin: 0 30px;
    }
}
.silimed-left-title{
    text-align: right;
    margin: 0 15px;
    font-size: 2em;
    font-weight: bold;
    @media (max-width: 992px) {
        text-align: center;
        margin: 30px 0;
    }
}

.banner-animation-scrolldown {
	width: 1px;
	height: $line-height;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	
	.banner-line {
		width: 100%;
		height: 100%;
		display: block;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
		background-position: 0 $line-height-abs;
		background-size: 100% 200%;
		animation: scrolldown 1.6s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	}
}

@keyframes scrolldown {
	0%{
		background-position: 0 $line-height-abs;
	}
	75% {
		background-position: 0 0;
	}
	100%{
		background-position: 0 $line-height;
	}
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background:  $primary-color;
}
::-webkit-scrollbar-thumb:active {
    background: #525965;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
