// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;700&display=swap');

@font-face {
    font-family: 'Futura';
    src:  url('/assets/fonts/Futura-Medium.ttf') format('truetype');
    src:  url('/assets/fonts/Futura-Bol.ttf') format('truetype');
}


@font-face {
    font-family:'futura-regular';
    src:  url('/assets/fonts/Futura-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'futura-bold';
    src:  url('/assets/fonts/Futura-Bol.ttf') format('truetype');
    font-weight:bold;
    // font-style:normal;
}

// @font-face {
//     font-family:'futura-regular';
//     src:  url('/assets/fonts/Futura-Medium.ttf') format('truetype');
//     font-weight:normal;
//     font-style:normal;
// }


@font-face {
    font-family: 'CeribriSans-regular';
    src:  url('/assets/fonts/CerebriSans/CerebriSans-Regular.ttf') format('truetype');
    font-weight: normal;
    
}
@font-face {
    font-family: 'CeribriSans-medium';
    src:  url('/assets/fonts/CerebriSans/CerebriSans-Medium.ttf') format('truetype');
    font-weight: bolder;
    
}
@font-face {
    font-family: 'CeribriSans-bold';
    src:  url('/assets/fonts/CerebriSans/CerebriSans-Bold.ttf') format('truetype');
    font-weight: bold;    
}
@font-face {
    font-family: 'CeribriSans';
    src:  url('/assets/fonts/CerebriSans/CerebriSans-Italic.ttf') format('truetype');
    font-style: italic;
    
}
@font-face {
    font-family: 'CeribriSans';
    src:  url('/assets/fonts/CerebriSans/CerebriSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    
}