// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------


@keyframes silimed_animation {
    0% {
        margin-bottom: -100px;
    }
    50% {
        margin-bottom: 50px;
    }
    100% {
        // margin-bottom: 0px;
    }
    
}

@keyframes silimed_fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0
    }
}

.animated-top {
    animation-name: silimed_animation, silimed_fadeIn;
    animation-duration: 1.5s, 4s ;
    transition: all 1.5s ease;
}

