// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Open Sans', sans-serif;


$primary-color: #ec7151;
$primary-color-outline:#DB6040;
$highlight-color:  #dd9933;
$gray-color: rgb(119, 119, 119);
$gray-color-2: #A2A2A2;
$gray-color-3:#E3E3E3;
$gray-color-sub: #C5C5C5;

$animate: all 0.2s ease-in-out;

$line-height: 100px;
$line-height-abs: -100px;
