// -----------------------------------------------------------------------------
// This file contains styles that are specific to the curriculum page.
// -----------------------------------------------------------------------------

#aboutCareer{
    .wrapper{
        background-color: $gray-color-2;            
        .content-career{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            .career-text{
                padding: 60px;
                color: #fff;
                font-family: 'CeribriSans';
                font-size: 1.2em;
                line-height: 2;
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 0 30px;
                }
            }
        }
        .img-career{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 100%;
                height: 700px;
                padding-top: 10px;
                @media (max-width:767px) {
                    height: auto;
                }
            }
        }
    }
}

#cultureCareer{
    .wrapper{
        background-color: $primary-color;  

        .content-values{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            .values-text{
                padding: 50px;
                color: #fff;
                font-family: 'CeribriSans';
                font-size: 1.2em;
                line-height: 2;
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 15px;
                    font-size: 1em;
                }
            }
        }
        .img-values{
            img{
                width: 100%;
                object-fit: contain;
                object-position: 100%;
                height: auto;
                @media (max-width:767px) {
                    height: auto;
                }
            }
        }
    }
}

#work{
    .wrapper{
        background-color: $gray-color-2;
        .content-work{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;  
            height: 700px; 
            @media (max-width:992px) {
                height: auto;
            }         
            .work-text{
                padding: 30px;
                color: #fff;
                font-family: 'CeribriSans';
                font-size: 1.2em;
                text-align: center;
                // line-height: 2;
                h2{
                    font-size: 2em;
                }
                p{
                    margin-top: 30px;
                }
                .upper{
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
        .bg-work{
            background-color: aliceblue;
            height: auto;
        }    
    }
    .btn-curriculum{
        display: flex;
            // width: 100%;
            align-items: center;
            justify-content: center;
            margin: 15px 0;
            padding: 5px;
            a{
                background-color: $primary-color;
                padding: 20px 30px;
                border-radius: 5px;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                text-align: center;
            }
    }
}