// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contato page.
// -----------------------------------------------------------------------------

#formContato{
  color: $gray-color-2;
  width: 95%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 30px 0;
  @media (max-width:767px) {
    height:auto;
    width: 100%;
  }
  .form-card{
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 0px;
    top: -60px;
    width: 100%;
    left: 20px;
    @media (max-width:767px) {
      position: relative;
      left: 0;
    }
  }

  .desc-form{
    margin: 150px 60px;
    @media (max-width:767px) {
      margin: 30px 60px;
    }
    h2{
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.5;
      margin: 60px 0 0;
      color: $gray-color;
    }
    p{
      line-height: 2;
      font-size: 1em;
    }
    ul{
      margin: 60px 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      li{
        margin: 0 10px;
        a{
          color: $gray-color;
        }
      }
    }
  }
  .form-content{
    margin: 60px 0;
    @media (max-width:767px) {
      margin: 30px 10px;
    }
    .form-control{
      border: none;
      border-bottom: 2px solid #ced4da;
      border-radius: inherit;
      transition: border-color 0.9s ease;   
      &:focus{
        outline: none;
        box-shadow:none;
        border-bottom: 2px solid $primary-color;
        border-color: $primary-color; 
      }
    }
    
    #inputRole{
      margin: calc(10% - 25px) 0 0; 
      border: none;
      border-bottom: 2px solid #ced4da;
      color: $gray-color;
      width: 100%;
      padding: 5px;
      &:focus{
        outline: none;
        box-shadow:none;
        border-bottom: 2px solid $primary-color;
        border-color: $primary-color; 
      }
    }
    .submit-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .btn-submit{
        box-shadow:none;
        border: none;
        // width: 50%;
      }
      .form-text{
        width: 50%;
      }
      @media (max-width:767px) {
        flex-direction: column;
        .form-text{
          width: 100%;
        }
      }
    }
  }

}
