// -----------------------------------------------------------------------------
// This file contains styles that are specific to the estudo clinico page.
// -----------------------------------------------------------------------------

#clinicalMarketing{
    font-family: 'CeribriSans';
    font-style: normal;
    .mkt-clinical-content{
        margin: 60px 0;
        color: $gray-color;
        .mkt-clinical-desc{
            text-align: center;
            line-height: 0.5;
            @media (max-width:767px) {
                line-height: 1;
            }
            p{
                span{
                    font-weight: bold;
                }
            }
        }
    }
}

#clinicalScience{
    .wrapper{
        background-color: $gray-color-2;            
        .content-science{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            .science-text{
                padding: 60px;
                color: #fff;
                font-family: 'CeribriSans';
                font-size: 1.1em;
                line-height: 1.5;
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 0 30px;
                }
            }
        }
        .img-science{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 35% 0px;
                height: 700px;
                @media (max-width:767px) {
                    height: auto;
                }
            }
        }
    }
}

#aboutClinical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
    background-color: $primary-color;
    // overflow: hidden;
    .about-clinical{ 
        margin: 90px 0;       
        .content-about-clinical{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;    
            color: #fff;
            .text-about-clinical{
                text-align: center;
                h2{
                    font-size: 3em;
                    font-weight: bold;
                    margin: 60px 0;
                }
                p{
                    font-size: 1.2em;
                }
            }
        }
    }
}

#benefitClinical{
    background-color: $gray-color;
    color: #fff;
    .content-advantage{
        margin: 90px 0 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .text-advantage{
            h2{
                font-size: 2.6em;
                font-weight: bold;
                @media (max-width: 767px) {
                    font-size: 2.5em;
                }
            }
            p{
                font-size: 1.2em;
            }
        }
    }
    .advantage-user{
        margin: 30px 0 90px 0;
        .title-user{
            margin: 30px 0;
            h3{
                font-weight: bold;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 2;
            li{
                margin: 15px 0;
                span{
                    margin: 0 10px 0 0;
                }
            }
        }
    }

}

#infoContact{
    .wrapper{
        .img-info{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 25%;
                height: 1000px;
                @media (max-width:767px) {
                    height: auto;
                }
            }
        }
        .content-infoContact{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;            
            color: $primary-color;
            .text-infoContact{
                padding: 60px;
                font-family: 'CeribriSans-regular';
                font-size: 1.2em;
                line-height: 2;
                h2{
                    font-size: 2.5em;
                    margin-top: 15px;
                    font-weight: bold;
                    @media (max-width:992px) {
                        font-size: 1.5em;
                        margin:30px 0;
                        font-weight: bold;
                    }
                }
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 0 15px;
                    // height: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            .clinical-contact, .scientific-team{
                padding: 0 60px;
                h3{
                    font-size: 1.5em;
                    font-weight: bold;
                    @media (max-width:992px) {
                        font-size: 1.3em;
                    }
                }
                .role, span{
                    font-weight: bold;
                }
            }
            .scientific-team{
                margin-top: 45px;
            }
        }
    
    }
}

#clinicalReference{
    .reference-content{
        color: $gray-color;
        margin: 60px 0;
        .reference-desc{
            h4{
                font-size: 0.7em;
            }
            p{
                font-size: 0.7em;
                margin-bottom: 30px;
            }
        }
    }
}