// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#home-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    hr{
        border-top: 2px solid rgba(255, 255, 255, 0.3);
    }
    .text-banner{
        top: 30%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        line-height: 1;

        .toDown{
            transform: translate(0px, 60px);
            transition: all .3s ease-in;
        }
        .toTop{
            transform: translate(0px, 0px);
            transition: all .3s ease-in;
        }
        h2{
            width: 100%;
            font-size: 5em;
            color: #fff;
            text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
            font-weight: bold;
            // font-family: 'Futura';
            font-family: 'futura-regular';
        }
        p{
            font-size: 2em;
            color: #fff;
            text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
            font-weight: bold;
            font-family: 'Roboto';
        }
        .btn-banner{
            background-color: #fff;
            padding: 20px 60px;
            font-size: 1em;
            border-radius: 5px;
            transition: 0.6s;
            
            a{
                color: $gray-color;
                text-decoration: none;
                text-transform: uppercase;
            }
            &:hover{
                background-color: #000;
                a{
                    color: #fff;
                }
            }
        }
    }

    .banner-carrousel{
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        .swiper-slide-active{
            img{
                transition: all 13s ease-in-out;
                transform: scale(1.15);
            }
        }
        .mySwiper img{
            width: 100%;
            object-fit: cover;
            object-position: 100% -100px;
            height: 680px;
            @media (max-width:687px) {
                object-position: 50% -50px;
            }
        }
        .carousel-controller{
            position: absolute;
            display: flex;
            width: 100%;
            bottom: 100px;
            
            .sizeCurrent{
                font-size: 2em;
            }
            .swiper-pagination-fraction{                   
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #fff;                    
                .swiper-pagination-current{
                    font-size: 2em;
                }
                .swiper-pagination-total{
                    font-size: 1em;
                }
            }
            .divisorItem{
                width: 60px;
                margin: 0 10px;
            }
            .arrow-swiper-container{
                display: flex;
                position: absolute;
                width: 100%;
                bottom: 60px;
                right: 10px;
                margin: 0;
                padding: 0;
                .swiper-button-next, .swiper-button-prev{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    color: #fff;
                    width: 52px;
                    height: 52px;
                    &:after{
                        border: 2px solid rgba(255, 255, 255, 0.3);
                        content: "";
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        font-size: 1.2em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Advent Pro', sans-serif;
                        font-weight: bold;
                    }
                    &:hover{
                        background-color: #fff;
                        color: #000;
                        border-radius: 50%;
                        font-size: 1em;
                        overflow: hidden;
                        width: 52px;
                        height: 52px;
                        &:after{
                            font-weight: normal;
                        }
                    }
                }
                .swiper-button-prev{
                    right: 70px;
                    left: auto;
                    &::after{
                        content: "<";
                    }
                }
                .swiper-button-next{
                    right: 10px;
                    left: auto;
                    &::after{
                        content: ">";
                    }
                } 
            }
        }
    }

    .produto-carousel{
        z-index: 0;
        .carousel-produtos-home{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 60px; 
            @media (max-width:687px) {
                margin-top: 0;
            }      
            h1{
                color: #000;
            }
            .homeSwiper{               
                margin: 30px 0;
                .item-carousel{
                    position: relative;
                    padding: 10px;
                    img{
                        width: 100%;
                        margin: 10px 0;
                        &:hover{
                            transition: all 1s ease-in-out;
                            // transform: translate3d( 0px, -5px, 0px); 
                            transform: scale(1.02);


                        }
                    }
                    .title-prod-carousel{
                        color: #fff;
                        position: absolute;
                        bottom: 30px;
                        width: 100%;
                        font-family: 'futura-regular';
                        margin: 0 -15px;
                    }
                }
                .swiper-pagination{
                    span.swiper-pagination-bullet{
                        margin: 0 10px;
                        transition: all .4s ease-in;
                        &:hover{
                            // background: #000;
                            opacity: 1;
                            padding: 6px;
                            margin: -1px 10px;
                        }
                    }
                    span.swiper-pagination-bullet-active{
                        background: #000;
                        padding: 6px;
                        margin: -1px 10px;
                    }
                }               
            }        
        }
    }

    .side-instagram-carousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 60px 0 -20px 0;
        font-family: 'futura-regular';
        
        h2{
            text-align: center;
            a{
                color: #000;
                text-decoration: none;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        .carousel-instagram{
            margin: 30px 0;
            overflow: hidden;
            width: 100%;
            z-index: 0;
            .instaSwiper{
                .item-insta{
                    margin: 5px;
                    position: relative;
                    img{
                        max-width: 100%;
                    }
                    .insta-mask{                    
                        position: absolute;
                        color: #fff;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: 0.5s ease;
                        background-color: rgba(0, 0, 0, 0.6);
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .insta-desc{
                            height: 95%;
                            .social-icon{
                                display: flex;
                                flex-direction: row;
                                height: 90px;
                                align-items: center;
                                justify-content: center;
                                .insta-item{
                                    padding: 10px;
                                    margin: 0 10px;
                                    &__number{
                                        margin: 0 0 0 -10px;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                            .social-text{
                                font-size: 1rem;
                                line-height: 1.6;
                                @include lines-clamp(5);
                            }
                        }
                    }
                    &:hover{
                        .insta-mask{
                            opacity: 1;
                        }
                    }
                }
                .arrow-swiper-container{                    
                    .swiper-button-next, .swiper-button-prev{
                        color: #fff;
                        border-radius: 100%;
                        width: 75px;
                        height: 75px;
                        // border: 2px solid rgba(0, 0, 0, 0.3);
                        background-color: rgba(0, 0, 0, 0.3);
                        z-index: 9;
                        
                        &:after{
                            content: "";
                            width: 75px;
                            height: 75px;
                            border-radius: 50%;
                            font-size: 2em;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            font-family: 'Advent Pro', sans-serif;
                            // font-weight: bold;
                            margin: 0 20px;
                        }
                        &:hover{
                            background-color: #000;
                            color: #fff;
                            border-radius: 50%;
                            font-size: 1em;
                            overflow: hidden;
                            width: 75px;
                            height: 75px;
                            &:after{
                                font-weight: normal;
                            }
                        }
                    }
                    .swiper-button-prev{
                        left: -30px;
                        right: auto;
                        &::after{
                            content: "<";
                            justify-content: flex-end;
                        }
                    }
                    .swiper-button-next{
                        right: -30px;
                        left: auto;
                        &::after{
                            content: ">";
                            justify-content: flex-start;
                        }
                    } 
                }
            }
        }
    }
    // responsive
    @media (max-width:1199px) {
        .text-banner{
            top:30%;
            h2{
                
                font-size: 2.5em;
            }
            p{
                font-size: 1.3em;
            }
            .btn-banner{
                font-size: 1em;
            }
        }
        .banner-carrousel{
            img{                    
                object-position: 45% 0px;                    
            }
        }
        .homeSwiper{
            .item-carousel{
                .title-prod-carousel{
                    h3{
                        font-size: 1em;
                    }
                }
            }
        }

    }


}




