// -----------------------------------------------------------------------------
// This file contains styles that are specific to the pacientes page.
// -----------------------------------------------------------------------------

#quality{
    .wrapper{
        padding-top: 10px;
        .content-quality{
            background-color: $primary-color;           
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center; 
            .quality-text{
                padding: 60px;
                color: #fff;
                font-family: 'CeribriSans';
                font-size: 1em;
                line-height: 2;
                margin-top: 30px;
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 0 30px;
                }
            }
        }
        .img-quality{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 75% 0px;
                height: 600px;
                @media (max-width:767px) {
                    height: auto;
                }
            }
        }
    }
}

#psps{
    .psps-area{
        padding: 60px 0;
        background-color: $gray-color;
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h2{
            font-size: 3em;
            font-weight: bold;
        }
        p{
            margin: 15px 0;
            line-height: 2;
        }
        .psps-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .btn-silimed{
                width: 50%;
                @media (max-width:767px) {
                    width: 100%;           
                }
            }
        }
        .faq{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            .title-faq{
                width: 100%;
                margin: 60px 0 0;
                h3{
                    text-align: left;
                }
            }
        }
        .accordion-faq{
            width: 100%;    
            #accordion{
                .card{
                    border-color: #fff;
                    border-radius: inherit;
                    background-color: transparent;
                    .card-header{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #fff;
                        cursor: pointer;
                        transition: all .4s ease-in;
                        &[aria-expanded="true"]{
                            .icon-minus{
                                display: block;
                                color: $gray-color-2;
                            }
                            .icon-plus{
                                display: none;
                            }
                        }
                        &[aria-expanded="false"]{
                            border: none;
                            .icon-minus{
                                display: none;
                            }
                            .icon-plus{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

#pacientesCard{
    .wrapper{
        .card-text{
            padding: 60px;
            font-family: 'CeribriSans';
            font-size: 1.2em;
            line-height: 2;
            color: $gray-color-2;
            @media (max-width:992px) {
                padding: 30px 15px;
                font-size: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h2{
                font-size: 2em;
                font-weight: bold;
            }
        }
        .img-card{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                max-width: 100%;
                @media (max-width:767px) {
                    max-width: 75%;
                }
            }
        }
    }
}


#securityInfo{
    .wrapper{
        background-color: $gray-color-3;
        color: $gray-color;
        .security-text{
            padding: 60px;
            h2{
                font-size: 3em;
                font-weight: bold;
            }
            p{
                font-size: 1.2em;
            }
        }
        .btn-security{
            margin: 120px 0;
            @media (max-width:767px) {
                margin: 60px 0;
            }
        }
    }
}

#SingUpPatient{
    .wrapper{
        .img-signUp{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 0;
                height: 750px;
                @media (max-width:992px) {
                    height: 1000px;
                }
                @media (max-width:767px) {
                    height: auto;
                }
            }
        }
        .content-signUp{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: $primary-color;
            align-items: center;
            .text-signUp{
                font-family: 'CeribriSans-regular';
                font-size: 1.2em;
                line-height: 2;
                h2{
                    font-size: 2.6em;
                    margin-top: 60px;
                }
                p{
                    margin-top: 30px;
                    span{
                        font-weight: bold;
                    }
                }
                @media (max-width:992px) {
                    padding: 0 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            .signUp-contact, .signUp-team{
                padding: 0 60px;
                h3{
                    font-size: 1.5em;
                    font-weight: bold;
                }
                .role, span{
                    font-weight: bold;
                }
            }
            .signUp-team{
                margin-top: 45px;
            }
        }    
    }
}