// -----------------------------------------------------------------------------
// This file contains styles that are specific to the pedidos de compra page.
// -----------------------------------------------------------------------------

#pedido-de-compra{
    margin: 60px 0;
    .buy-desc{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            width: 80%;
            text-align: center;
            color: $gray-color;
            font-size: 1.2rem;
            @media (max-width:767px) {
                width: 100%;
            }
        }
    }
    .buy-affiliate{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-weight: bold;
            width: 50%;
            text-align: center;

        }
    }
    .btn-user{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: right;
        margin: 60px 0;
        @media (max-width:767px) {
            text-align: center;
        }

        &--right{
            text-align: left;
            @media (max-width:767px) {
                text-align: center;
            }
        }

        a{
            margin: 0 10px;
            background-color: $primary-color;
            padding: 20px 40px;
            border-radius: 5px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

}