// -----------------------------------------------------------------------------
// This file contains styles that are specific to the produtos page.
// -----------------------------------------------------------------------------
#produtos{
    padding: 60px 0;
    .prod-desc{
        margin: 60px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            width: 75%;
            text-align: center;
            color: $gray-color;
            font-size: 1.3em;
        }
    }

    .card-prod{
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        padding: 15px;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        height: 100px;
        p{
            padding: 15px 0;
            margin: 0;
        }
        a{
            color: $primary-color;
            text-decoration: none;
        }
        &:hover{
            background-color: $primary-color;
            a{
                color: #fff;
            }
        }
    }

}