// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

#quem-somos{
    // font-family: 'CeribriSans';
    font-family: 'CeribriSans-regular';
    font-style: normal;
    .quem-somos-content{
        margin: 60px 0;
        color: $gray-color;
    }
}

#aboutUs{
    .wrapper{
        .content-about-us{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;            
            .about-us-text{
                padding: 60px;
                color: $gray-color;
                // font-family: 'CeribriSans';
                font-family: 'CeribriSans-regular';
                font-size: 1.2em;
                line-height: 2;
                h2{
                    font-size: 2.6em;
                    font-weight: bold;
                }
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 0 30px;
                }
            }
        }
        .img-about{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 35% 0px;
                height: 600px;
                @media (max-width:767px) {
                    // height: auto;
                }
            }
        }
    }
// responsive
    @media (max-width:1199px) {
        .img-sobre{
            padding-top: 10px;
            img{
                width: 100%;
                height: auto !important;
            }
        }
    }
}

#mission{
    .wrapper{
        background-color: $primary-color;
        .img-mission{
            img{
                width: 100%;
                object-fit: cover;
                object-position: 75%;
                height: 600px;
            }
        }
        .content-mission{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;            
            .mission-text{
                padding: 60px;
                color: #fff;
                // font-family: 'CeribriSans';
                font-family: 'CeribriSans-regular';
                font-size: 1.2em;
                line-height: 2;
                h2{
                    font-size: 2.6em;
                    margin-top: 60px;
                }
                p{
                    margin-top: 30px;
                }
                @media (max-width:992px) {
                    padding: 0 15px;
                    height: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    
    }
}

#aboutFactory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
    background-color: #A2A2A2;
    // overflow: hidden;
    .about-factory{
        ul{
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            @media (max-width:767px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            li{
                margin: 10px;
                .img-factory{
                    overflow: hidden;
                    img{
                        max-width: 100%;
                        width: 400px;
                        transition: all .4s ease-in;
                        filter: grayscale(100%);
                        @media (max-width: 992px) {
                            width: 250px;
                        }
                    }
                    &:hover{
                        overflow: hidden;
                        transition: all .6s ease-in;
                        img{
                            transform: scale(1.08);
                            transition: all .4s ease-in;
                            filter: none;
                        }
                    }
                }
            }
        }
        .content-factory{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;    
            color: #fff;
            .text-factory{
                width: 50%;
                h2{
                    font-size: 3em;
                    font-weight: bold;
                    margin: 60px 0;
                }
                p{
                    font-size: 1.2em;;
                }
                @media (max-width:992px) {
                    width: 100%;
                }
            }
        }
    }
}