// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-silimed{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 60px 0;
    // margin: 0 10px;
    padding: 20px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    @media(max-width: 767px){
        margin: 30px 0;
        width: 300px;
    }
    a{
        color: #fff;
        text-decoration: none;
    }

    &__info{
        text-align: center;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        border-radius: 0;
        padding: 5px;
        a{
            padding: 15px;
            font-weight: bold;
        }
    }
}

// @mixin btn-default($color-default){
//     // display: block;
//     overflow: hidden;
//     margin-bottom: 10px;
//     font-size: 1.5rem;
//     text-decoration: none;
//     text-align: center;
//     padding: 5px 40px;
//     cursor: pointer;
//     border-radius: 30px;
//     letter-spacing: 1px;
//     border: 1px solid $color-default;
//     background: $color-default;
//     color: #fff;
//     @media(max-width: 767px){
//         font-size: 0.8rem;
//         padding: 10px 20px;
        
//     }
//     &:hover{
//         border: 1px solid $color-default;
//         border-radius: 30px;
//         background-color: #fff;
//         color: $color-default;
//         text-decoration: none;
//     }   

//     @content;  
// }