// -----------------------------------------------------------------------------
// This file contains all styles related to the banner header component.
// -----------------------------------------------------------------------------

.menu-nav{
    &__fixed{
        .animated{
            &__child{
                span{
                    &:after{
                        color: $gray-color;
                    }

                }
            }
        }
    }
}
.menu-responsive-silimed{
    display: none;
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        margin: 10px 0;
        padding: 0 20px;
    }
    .hide-fixed-responsive{
        display: block;
    }
    .show-fixed-responsive{
        display: none;
    }
    img{
        max-width: 150px;
    }
    .box-shadow-menu {        
        display: flex;
        z-index: 999;
        padding: 50px;
        position: absolute;
        top: 15%;
        right: 25px;
        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 1em;
            width: 2em;
            height: 0.1em;
            background: #fff;
            box-shadow: 0 0.61em 0 0 #fff;
        }
    }
    &__fixed{
        position: fixed;
        top:0;
        background-color: #fff;
        padding: 15px 0;
        margin: 0;
        .box-shadow-menu {       
            
            &:before {
                background: #000;
                box-shadow: 0 0.61em 0 0 #000;
            }
        }
        .hide-fixed-responsive{
            display: none;
        }
        .show-fixed-responsive{
            display: block;
        }
        img{
            max-width: 150px;
            padding: 0 10px;
        }
        
    }
}

.page-wrapper{
    display: flex;
    flex-direction: column;
}
.sidebar-wrapper {
    margin: 0;
    width: 100%;

    &__fixed{
        transition:all .9s ease;
        position: fixed;
        top: 0;
        padding: 0;
        margin: 0;
        background-color: #fff;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
        .show-fixed{
            max-width: 150px;
            padding: 5px 0;
            display: block;
            @media (max-width:992px) {
                max-width: 100px;
            }
        }
        .hide-fixed{
            max-width: 250px;
            padding: 5px 0;
            display: none;
        }

        .sidebar-menu{
            a{
                color: $gray-color;
                &.hover{
                    color: $gray-color;
                }
            }
        }

        .animated {

            .hover {
                margin: 0 auto;
                padding: 0;
                transition: $animate;
                position: relative;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    width: 0px;
                    height: 1px;
                    margin: 5px 0 0;
                    transition: $animate;
                    transition-duration: 0.75s;
                    opacity: 0;
                    // background-color: darken(orange,5%);
                    background-color: $gray-color;
                }
                &.hover-1 {
                    &:before,
                    &:after {
                        left: 0;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                .hover {
                    &:before,
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }    
            
            &__child{
                span{
                    &:after{
                        color: $gray-color;
                    }
                }
            }
        }
    }
    
}
.menu-responsive-hmbg{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    display: none;
}

.menucopy{
    background-color: black;
}


@media (min-width:768px) {
    .show-fixed{
        display: none;
    }
    .hide-fixed{
        display: block;
        @media (max-width:992px) {
            max-width: 100px;
        }
    }

    .animated {
        &__child{
            span{
                &:after{
                    content: "\f078"; 
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    color: #fff;
                    font-size: 0.8em;
                    margin: 0 10px;
                    @media (max-width:992px) {
                        font-size: 0.6em;
                        margin: 0 5px;
                    }
                }
            }
        }
        .hover {
            margin: 0 auto;
            padding: 0;
            transition: $animate;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                width: 0px;
                height: 1px;
                margin: 5px 0 0;
                transition: $animate;
                transition-duration: 0.75s;
                opacity: 0;
                // background-color: darken(orange,5%);
                background-color: #fff;
            }
            &.hover-1 {
                &:before,
                &:after {
                    left: 0;
                }
            }
        }
        &:hover {
            cursor: pointer;
            .hover {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }    
    }
    .sidebar-brand{
        display: none;
    }
    #close-sidebar{
        display: none;
    }
    .sidebar-menu{
        ul{
            list-style: none;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            li{
                padding: 10px 0;
                @media (max-width:992px) {
                    font-size: 0.7rem;
                }
            }
            
        }
        a{
            &.hover{
                transition: all 0s;
                color: #fff;
            }
        }
        
        .sidebar-dropdown {
            .sidebar-submenu {
                display: none;
                position: relative;
                ul{
                    &.sub{
                        background-color: #fff;
                        padding: 20px;
                        width: 300px;
                        top: 10px;
                        margin-top: 0;
                        border-bottom: 3px solid #d93;
                        opacity: 1;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: inherit;
                        z-index: 1;
                        position: absolute;
                        box-shadow: 0 2px 29px rgba(0, 0, 0, 0.5);
                        li{
                            // margin: 5px 0;
                            padding: 5px 0;
                            a{
                                color: $gray-color-2;
                                &:hover{
                                    color: $gray-color;
                                }
                            }
                        }
                    }
                }
            }
            &__haschild{
                &:hover{
                    .sidebar-submenu{
                        display: block;
                    }
                }
            }    
        }
        .silimed-menu-logo{
            // img{
            //     // max-width: 100px;
            //     max-width: 250px;
            //     padding: 5px;
            // }
        }
    }
}
    


@media (max-width:767px) {
    @keyframes swing {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(10deg);
        }
        30% {
            transform: rotate(0deg);
        }
        40% {
            transform: rotate(-10deg);
        }
        50% {
            transform: rotate(0deg);
        }
        60% {
            transform: rotate(5deg);
        }
        70% {
            transform: rotate(0deg);
        }
        80% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    .silimed-menu-logo{
        display: none;
    }
    .page-wrapper .sidebar-wrapper,
    .sidebar-wrapper .sidebar-brand > a,
    .sidebar-wrapper .sidebar-dropdown > a:after,
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
    .sidebar-wrapper ul li a i,
    .page-wrapper .page-content,
    .sidebar-wrapper .sidebar-search input.search-menu,
    .sidebar-wrapper .sidebar-search .input-group-text,
    .sidebar-wrapper .sidebar-menu ul li a,
    #show-sidebar,
    #close-sidebar {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    
        .page-wrapper.toggled {
            .sidebar-wrapper {
                // right: -35px;
                right: 0;
            }
        }
    
    @media screen and (min-width: 768px) {
        .page-wrapper.toggled .page-content {
            padding-left: 300px;    
        }

    }
    @media (max-width: 768px) {
        .menu-responsive-hmbg{
            display: flex;
            position: absolute;
            top: 25%;
            right: 25px;
        }       
    }
    
    
    .sidebar-wrapper {
        width: 260px;
        height: 100%;
        max-height: 100%;
        position: fixed;
        top: 0;
        right: -300px;
        z-index: 999;
    }
    
    .sidebar-wrapper ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .sidebar-wrapper a {
        text-decoration: none;
    }
    
    /*----------------sidebar-content----------------*/
    
    .sidebar-content {
        max-height: calc(100% - 30px);
        height: calc(100% - 30px);
        overflow-y: auto;
        position: relative;
    }
    
    .sidebar-content.desktop {
        overflow-y: hidden;
    }
    
    /*--------------------sidebar-brand----------------------*/
    
    .sidebar-wrapper {
        .sidebar-brand {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            background-color: #fff;
            img{
                max-width: 100px;
            }
        }
    
    }
    
    .sidebar-wrapper .sidebar-brand > a {
        text-transform: uppercase;
        font-weight: bold;
        flex-grow: 1;
    }
    
    .sidebar-wrapper .sidebar-brand #close-sidebar {
        cursor: pointer;
        font-size: 25px;
    }
    
    /*----------------------sidebar-menu-------------------------*/
    
    .sidebar-wrapper .sidebar-menu {
        padding-bottom: 10px;
    }
    
    .sidebar-wrapper .sidebar-menu .header-menu span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
    }
    
    .sidebar-wrapper .sidebar-menu ul li a {
        display: inline-block;
        width: 200px;
        // aqui menu
        text-decoration: none;
        position: relative;
        padding: 10px;
    }
    
    .sidebar-wrapper .sidebar-menu ul li a i {
        margin-right: 10px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
    }
    
    .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
        display: inline-block;
        animation: swing ease-in-out 0.5s 1 alternate;
    }
    
    
    
    .sidebar-wrapper {
        .sidebar-menu{
            .sidebar-dropdown {
                &__haschild{
                    span{
                        color: #fff;
                        display: inline-block;
                        width: 50px;
                        text-decoration: none;
                        position:absolute;
                        padding: 15px;
                        left: 75%;
                        &:after{
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f105";
                            font-style: normal;
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            text-align: center;
                            background: 0 0;
                            position: absolute;
                            right: 30px;
                            top: 10px;
                        }
                    }
                }
                &.active {
                    span{
                        &:after{
                            transform: rotate(90deg);
                            right: 30px;                   
                        }
                    }
                }
            }
        }
    }
    
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
        padding: 5px 0;
    }
    
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
        padding-left: 25px;
        font-size: 12px;
    }
    
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
        // content: "\f111";
        // font-family: "Font Awesome 5 Free";
        // font-weight: 400;
        // font-style: normal;
        // display: inline-block;
        // text-align: center;
        // text-decoration: none;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
        // margin-right: 10px;
        // font-size: 8px;
    }
    
    
    .sidebar-wrapper .sidebar-menu .sidebar-submenu {
        display: none;
    }
    
    
    
    
    .page-wrapper .page-content {
        display: inline-block;
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
    }
    
    .page-wrapper .page-content > div {
        padding: 20px 40px;
    }
    
    .page-wrapper .page-content {
        overflow-x: hidden;
    }
    
    /*-----------------------------chiller-theme-------------------------------------------------*/
    
    .chiller-theme .sidebar-wrapper {
        background: #31353D;
    }
    
    .chiller-theme .sidebar-wrapper .sidebar-header,
    .chiller-theme .sidebar-wrapper .sidebar-search,
    .chiller-theme .sidebar-wrapper .sidebar-menu {
        border-top: 1px solid #3a3f48;
    }
    
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
    .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
        border-color: transparent;
        box-shadow: none;
    }
    
    .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
    .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
    .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
    .chiller-theme .sidebar-wrapper .sidebar-brand>a,
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
    .chiller-theme .sidebar-footer>a {
        color: #818896;
    }
    
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
    .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
    .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
    .chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
    .chiller-theme .sidebar-footer>a:hover i {
        color: #b8bfce;
    }
    
    .page-wrapper.chiller-theme.toggled #close-sidebar {
        color: #bdbdbd;
    }
    
    .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
        color: #ffffff;
    }
    
    .chiller-theme .sidebar-wrapper ul li:hover a i,
    .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
    .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
        color: #16c7ff;
        text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
    }
    
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
    .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
    .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
        background: #3a3f48;
    }
    
    .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
        color: #6c7b88;
    }
    

}

