// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#silimed-footer{
    padding: 60px 0;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    background-color: $primary-color;
    .logo-footer{
        img{
            max-width: 100%;
            width: 200px;
        }
    }
    .social-icons-footer{
        ul{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content:flex-start;
            li{
                margin: 0 10px;
                font-size: 1.5rem;
                a{
                    color: #fff;
                }
            }
        }
    }
    .footer-list{        
        li{
            margin: 10px;
            font-size: 0.9rem;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    
        &__first{
            margin: 15px 0;
            a{
                font-weight: bold;
            }
        }
    }
    .line-info{
        background-color: $primary-color-outline;
        .tel-info{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            margin: 15px 0 0;

            @media (max-width:767px) {
                font-size: 0.7em;
            }
            ul{
                display: flex;
                flex-direction: row;
                @media (max-width:767px) {
                    flex-direction: column;
                }
            }
            li{
                margin: 0 10px;
                @media (max-width:767px) {
                    margin: 10px 0;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}


#button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 25px;
}
  #button::after {
    // content: "\f077";
    // font-family: "Font Awesome 5 Free"; 
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    // background-color: #333;
  }
  #button:active {
    // background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
    z-index: 0;
   
}


.hi-icon-effect-5c .hi-icon:hover:before {
	-webkit-animation: toTopFromBottom 2s ease infinite;
	-moz-animation: toTopFromBottom 2s ease infinite;
	animation: toTopFromBottom  2s ease infinite;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(50%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(50%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(50%);
	}
	51% {
		opacity: 1;
	}
}