// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.mask-opacity{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
}

// .tooltip-main {
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     font-weight: 700;
//     background: #f3f3f3;
//     border: 1px solid #737373;
//     color: #737373;
//     margin: 4px 121px 0 5px;
//     float: right;
//     text-align: left !important;
// }

// .tooltip-qm {
//     float: left;
//     margin: -2px 0px 3px 4px;
//     font-size: 12px;
// }

// .tooltip-inner {
//     max-width: 236px !important;
//     height: 76px;
//     font-size: 12px;
//     padding: 10px 15px 10px 20px;
//     background: #FFFFFF;
//     color: rgba(0, 0, 0, .7);
//     border: 1px solid #737373;
//     text-align: left;
// }
// .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
// .bs-tooltip-bottom .arrow::before {
//   border-bottom-color: #f00; /* Red */
//     display: flex;
//     align-items: flex-end;
// }

#silimed-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 650px;
    position: relative;

    ul{
        &.language-list{
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    a{
        text-decoration: none;
    }
    .banner-menu{
        .menu-nav{
            .logo-silimed{
                img{
                    max-width: 100%;
                    @media (max-width:767px) {
                        max-width: 100px;
                    }
                }
            }
        }
        z-index: 1;
        .language-login{
            display: flex;
            width: 100%;
            height: 60px;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            background-color: transparent;
            font-size: 0.8rem;
            nav{
                ul{
                    display: flex;
                    li{
                        margin: 0 10px;
                        a{
                            color: #fff;
                        }
                    }
                }    
            }
            .acamedemy-btn{
                margin: 0 10px;
                border: 1px solid #fff;
                padding: 10px;
                &:hover{
                    background-color: $primary-color;
                    border: 1px solid $primary-color;
                    transition: 0.6s;
                }
                a{
                    color: #fff;
                }
            }
            .social-icons{
                ul{
                    display: flex;
                    flex-direction: row;
                    margin: 0 5px;
                    li{
                        border: 1px solid $primary-color;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        background-color: $primary-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 2px;
                        &:hover{
                            i{
                                font-size: 1.2rem;
                                // transition: 0.6s;
                            }
                        }
                        i{
                            font-size: 1rem;
                        }
                        a{
                            color: #fff;
                        }
                    }
                }
            }
            .login-area{
                padding: 0 5px;
                img{
                    width: 20px;
                    height: auto;
                    display: inline-block;
                    margin-right: 5px;
                }
                span{
                    color: #fff;
                    font-weight: bolder;
                }
            }    
        }
        hr{
            border-top: 2px solid rgba(255, 255, 255, 0.3);
            margin: 0 auto;
        }
        .text-banner{
            top: 45%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            line-height: 1;

            .toDown{
                transform: translate(0px, 60px);
                transition: all .3s ease-in;
            }
            .toTop{
                transform: translate(0px, 0px);
                transition: all .3s ease-in;
            }
            h2{
                font-size: 5em;
                color: #fff;
                text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
                font-weight: bold;
                // font-family: 'Futura';
                font-family: 'futura-regular';

            }
            p{
                font-size: 2em;
                color: #fff;
                text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
                font-weight: bold;
                font-family: 'Roboto';
            }
            .btn-banner{
                background-color: #fff;
                padding: 20px 60px;
                font-size: 1em;
                border-radius: 5px;
                transition: 0.6s;
                
                a{
                    color: $gray-color;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:hover{
                    background-color: #000;
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .banner-carrousel{
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            .swiper-slide-active{
                img{
                    transition: all 18s ease-in-out;
                    transform: scale(1.15);
                }
            }
            img{
                width: 100%;
                object-fit: cover;
                object-position: 100% -100px;
                height: 660px;
            }
            .carousel-controller{
                position: absolute;
                display: flex;
                width: 100%;
                bottom: 72px;
                
                .sizeCurrent{
                    font-size: 2em;
                }
                .swiper-pagination-fraction{                   
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #fff;                    
                    .swiper-pagination-current{
                        font-size: 2em;
                    }
                    .swiper-pagination-total{
                        font-size: 1em;
                    }
                }
                .divisorItem{
                    width: 60px;
                    margin: 0 10px;
                }
                .arrow-swiper-container{
                    display: flex;
                    position: absolute;
                    width: 100%;
                    bottom: 60px;
                    right: 10px;
                    margin: 0;
                    padding: 0;

                    .swiper-button-next, .swiper-button-prev{
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        color: #fff;
                        width: 52px;
                        height: 52px;
                        &:after{
                            border: 2px solid rgba(255, 255, 255, 0.3);
                            content: "";
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            font-size: 1.2em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: 'Advent Pro', sans-serif;
                            font-weight: bold;
                        }
                        &:hover{
                            background-color: #fff;
                            color: #000;
                            border-radius: 50%;
                            font-size: 1em;
                            overflow: hidden;
                            width: 52px;
                            height: 52px;
                            &:after{
                                font-weight: normal;
                            }
                        }
                    }
    
                    .swiper-button-prev{
                        right: 70px;
                        left: auto;
                        &::after{
                            content: "<";
                        }
                    }
                    .swiper-button-next{
                        right: 10px;
                        left: auto;
                        &::after{
                            content: ">";
                        }
                    } 
                }

            }
        }
        .btn-open{
            display: none;
            color: #fff;
        }
        .menu-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 15px;
            transition:all .6s ease;
            .scroll-img{
                display: none;
            }
            .btn-close{
                display: none;
                button{
                    border: none;
                    background-color: transparent;
                    &:after{
                        content: "\f00d"; 
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900; 
                        color: $gray-color;
                        font-size: 2.2em;
                    }
                }

            }
            nav{
                display: flex;
                width: 100%;
                padding: 0 30px;
                ul{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    
                    .primary-item{
                        position: relative;
                        >a{
                            color: #fff;
                        }
                        padding: 20px 0;
                        
                        ul{
                            display: none;
                            position: absolute;                            
                            opacity: 0;
                            transition: all 0.5s ease-in-out;                            
                            height: auto;
                            overflow: hidden;
                            margin-top: 100px;
                            width: 300px;
                            // display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            li{
                                a{ 
                                    color: $gray-color;
                                    &:hover{
                                        color: #000;
                                    }
                                }
                            }
                        }
                        &:hover{
                            ul{
                                background-color: #fff;
                                padding: 20px;
                                width: 300px;
                                top: 60px;
                                margin-top: 0;
                                border-bottom: 2px solid $highlight-color;
                                opacity: 1;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                align-items: inherit;
                                z-index: 1;
                                
                            }
                        }
                    }
                }
            }
            &__fixed{
                transition:all .9s ease;
                top: 0;
                position: fixed;
                z-index: 999;
                background-color: #fff;
                padding: 0;
                // box-shadow:0px 1px 1px rgba(0,0,0, 0.6);
                .scroll-img{
                    display: block;
                    padding: 20px 10px;
                    max-width: 160px;
                    @media (max-width:992px) {
                        max-width: 100px;
                    }
                }
                nav{
                    ul{
                        .primary-item{
                            >a{
                                color: $gray-color;
                            }
                            ul{
                                border: 1px solid rgba(0,0,0, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }
    // responsive
    

    @media (max-width:767px) {
        .acamedemy-btn{
            display: none;
        }
        .banner-menu{
            z-index: 1;
            .language-login{
                justify-content: space-between;
                .language-list{

                    .language-item{
                        position: relative;
                        a{
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            position: relative;
                        }
                        span{
                            display: none;
                        }
                        &--english{
                            &:after{
                                content: " ";
                                background: url(/assets/imagem/flags/reino-unido.png);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;                                
                            }
                        }
                        &--spanish{
                            &:after{
                                content: " ";
                                background: url(/assets/imagem/flags/espanha.png);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;                                
                            }
                        }
                        &--italian{
                            &:after{
                                content: " ";
                                background: url(/assets/imagem/flags/italia.png);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;                                
                            }
                        }

                    }
                }
                .login-area{
                    span{
                        display: none;
                    }
                }
            }
            .btn-open{
                display: block;
                position: absolute;
                right: 0;
                top: 25%;
                margin: 0 30px;
            }
            .menu-nav{
                flex-direction: column;
                position: fixed;
                height: 100%;
                z-index: 9;
                left: 0;
                top: 0;
                display: none;
                transition:right 0.5s ease;
                .btn-close{
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 15px 30px;
                    display: block;
                    font-size: 0.8em;
                }
                .logo-silimed{
                    position: absolute;
                    width: 75%;     
                    right: 0;
                    z-index: 999;
                    top: 0;
                    padding: 10px 0;
                    margin: 0;
                    background-color: #fff;
                    img{
                        // max-width: 100%;
                        // width: 175px;
                        padding: 5px 10px;
                    }
                }
                nav{
                    width: 75%;     
                    height: 100%;
                    z-index: 9;
                    background-color: #000;
                    position: absolute;
                    right: 0;
                    top: 60px;
                    ul{
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        li{
                            // margin: 10px 0;
                        }
                    }
                }
            }
            .text-banner{
                    top:30%;
                h2{
                    font-size: 3em;
                    
                }
                p{
                    font-size: 1.5em;
                }
                .btn-banner{
                    font-size: 1em;
                }
            }
            .banner-carrousel{
                img{                    
                    object-position: 45% 0px;                    
                }
            }
        }
        
    }
    // inicio
    .banner-menu{
        .menu-nav{
            .logo-silimed{
                img{
                    // max-width: 100px;
                }
            }
            nav{
                ul{
                    font-size: 1em;
                    .primary-item{
                        &:hover{
                            ul{
                                background-color: #fff;
                                padding: 10px;
                                width: 200px;
                                top: 60px;
                                font-size: 0.8em;
                            }
                        }
                    }
                }    
            }
            &__fixed{                    
                .scroll-img{
                    // max-width: 100px;
                }
                nav{
                    ul{
                        
                        font-size: 1em;
                    }    
                }
            }
        }
    }        
    #silimed-header{

    }


    // fim





}

@media (min-width:768px) and (max-width:992px) {   
    #silimed-header{
        .banner-menu{
            .menu-nav{
                .logo-silimed{
                    img{
                        max-width: 100px;
                    }
                }
                nav{
                    ul{
                        font-size: 0.7em;
                        .primary-item{
                            &:hover{
                                ul{
                                    background-color: #fff;
                                    padding: 10px;
                                    width: 150px;
                                    top: 50px;
                                }
                            }
                        }
                    }    
                }
                &__fixed{                    
                    .scroll-img{
                        // max-width: 100px;
                    }
                    nav{
                        ul{
                            
                            font-size: 0.7em;
                        }    
                    }
                }
            }
        }        

    }   
}
